                                                            #================= 26/09/2024 ===================#

In [4]:
a = '34.98'
b = int(a)
print(a)

ValueError: invalid literal for int() with base 10: '34.98'

In [10]:
a = [2,4,6]
b = int (a)
print(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

                                                                  ########## OPERATOR ##########

# Operator are specific type of symbol that perform some task on oprands.

In [12]:
# 1. Arithmetic operator
# FLOOR DIVISION 
a = 23//3
print(a)

7

In [14]:
# float division
a = 23/3
print(a)

7.666666666666667

In [18]:
# 2. Assignment operator
a = 5
a %= 3
print(a)
b = 5
b //= 3
print(b)

2
1

In [28]:
a = 1098345
a = a//10
a

109834

In [32]:
a = str(a)  ## Type conversion
len(a)  #

6

In [36]:
print(len.__doc__)   # Mainly it is used for disclaimer.

Return the number of items in a container.

In [38]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [40]:
b = int()
b

0

In [42]:
print(zip.__doc__)

zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.

In [46]:
# 3. Relational Operators-----> (<,>,==,>=,<=,!=)
a = 23<29
print(a)
a = 34<36
print(a)

True
True

In [52]:
a = (25>=23)
print(a)
a = 25!=25
print(a)

True
False

In [54]:
a = not(25)  # 25 true value hai so not lagane ke baad wo false ho gya .
a

False

In [56]:
# 4. Logical Operator   ---> And , Not , Or
23 and 45

45

In [58]:
23 and 0 and 45

0

In [60]:
23 or 45

23

In [62]:
23 or 0

23

In [68]:
a = 23>20 and 23<40
a

True

In [70]:
a = 23<20 and 23<40
a

False

In [72]:
a = True and True or False
a

True

In [74]:
a = True or True and False
a

True

In [82]:
b = 10
a = 2 < 3 and 5 < b  or 100 > 40
a

True

In [84]:
# 5. Identity Operator ---->> is
a = 33
b = 37
c = a < b
c

True

In [88]:
a = 33
b = 33
c = a == b
print (c)
d = a is b    # it return true if object refer to sane reference object.
print (d)
print (id (a))
print (id (b))

True
True
140705915157944
140705915157944

In [90]:
a = 33
b = 33.0
c = a == b
print (c)
d = a is b 
print (d)
print (id (a))
print (id (b))

True
False
140705915157944
2423634799216

In [92]:
a = [12,34]
b = [12,34]
c = a == b
print (c)
d = a is b 
print (d)
print (id (a))
print (id (b))

True
False
2423653730432
2423653733056

In [94]:
# 6 . Membership operator ---> in , not in
a = 'I am reading book of python programming'
b = 'am' in a 
print(b)

True

In [98]:
c = [23,45,5,7,8,9,0]
a = 23 in c
print (a)

True

In [102]:
c = ['23',45,5,7,8,9,0]
a = 23 in c
print (a)

False

In [104]:
c = ['Govind',45,5,7,8,9,0]
a = 'Govind' in c
print (a)

True

In [106]:
c = ['Govind',45,5,7,8,9,0]
a = not 'Govind' in c
print (a)

False

In [ ]:
                                                                            # String and Method

In [110]:
# Way to declare a method
a = 'Test string'
A = 'Test string 2'
b = ''' This is 
string 
of trile quotes'''
c =""" another 
triple quotes"""
print(a)
print(A)
print(b)
print(c)

Test string
Test string 2
 This is
string
of trile quotes
 another
triple quotes

In [112]:
e = 'this is\
new line\
text\
of string'
print(e)
e

this isnew linetextof string

'this isnew linetextof string'

In [ ]:
# Escape sequence Character
#\n
#\t
#\b
#\

In [116]:
a = 'This is \ntest string'  #for next line
print (a)
a

This is
test string

'This is \ntest string'

In [118]:
a = 'This is \ttest string' # for tab space
print (a)
a

This is 	test string

'This is \ttest string'

In [120]:
a = 'This is Rohan\b test string' # for letter escape
print (a)
a

This is Roha test string

'This is Rohan\x08 test string'

In [122]:
a = 'This is Rohan\'s pen test string' # for apestropy
print (a)
a

This is Rohan's pen test string

"This is Rohan's pen test string"

In [128]:
a = 'This is test\r Ram'     # here \r is used for positing of last word into starting word (pehle wale ko hata kr)
print(a)

 Ram is test

In [ ]:
                                                                    ####### LOOP ###### 
# (For , While)

In [ ]:
### For is for iteration of sequence data or collection data (both same)

####-----------For Loop----------

# in python like other lang there is no need to initiate 
# a termination condition and increment or decrement for loop because it run till completion of iteration of iterable if break condition is not specified.

In [126]:
l1 = ['hariom','Govind','Tushar','sidhatrth','Arjun','Dilip']
print(l1)

['hariom', 'Govind', 'Tushar', 'sidhatrth', 'Arjun']

In [149]:
l1 = ['hariom','Govind','Tushar','sidharth','Arjun','Dilip']
for n in l1:
    if n == 'Arjun':
        break
    print(n)

hariom
Govind
Tushar
sidharth

In [151]:
l1 = ['hariom','Govind','Tushar','sidharth','Arjun','Dilip']
for n in l1:
    if n == 'Arjun':
        continue
    print(n)

hariom
Govind
Tushar
sidharth
Dilip

In [153]:
a = 'Dilip'
'i' in a

True

In [155]:
for i in l1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [171]:
names = ['Govind', 'Mohan', 'Ram' ,'Priya']
for i in names:
    if 'i' in i:
        continue
    print(i)

Mohan
Ram

In [195]:
names = ['Govind', 'Mohan', 'Ram' ,'Priya']
for i in names:
    if 'i' in i:
        print(i)

Govind
Priya

In [ ]:
####### WHILE LOOP #######

# just like other lang in python also
# for while loop we have initiate a variable , declare  a termination condition an increment or decrement of the initiate variable to get the

In [1]:
n = 1
while n <= 10:
    if n == 7:
        break
    print(n)
    n+=1

1
2
3
4
5
6

In [18]:
n = 0
while n<10:
    n+=1
    if n == 7:
       continue
    print(n)

1
2
3
4
5
6
8
9
10