                                                        #================= 28/09/2024 ===================#

                                                                  # For loop and While Loop #

In [1]:
                                                                #---------For Loop---------#

for i in range(1,11):
    if (i%7 == 0):
        break
    print(i)
else:
    print('Loop is complete')
print('This normal print statement')

1
2
3
4
5
6
This normal print statement

In [15]:
for i in range(1,11):   # 11 not included
    print(i)
else:
    print('Loop is complete')
print('This normal print statement')

1
2
3
4
5
6
7
8
9
10
Loop is complete
This normal print statement

In [29]:
# ----Prime Number---- #

for i in range(3,21):
    for j in range(2,i):
        if ((i%j) == 0):
            break
    else:
        print(i)

3
5
7
11
13
17
19

In [43]:
# For given input
n = int(input('Enter the value of n :-'))
for j in range(2,n):
    if (n%j == 0):
        print('Not a prime number')
        break
else:
    print('Prime number')

Enter the value of n :- 79

Prime number

In [45]:
n = 1
while n < 11:
    if n == 5:
        break
    print(n)
    n+=1
else:
    print('While loop completed')
print('This is normal print')

1
2
3
4
This is normal print

In [47]:
n = 1
while n < 11:
    # if n == 5:
    #     break
    print(n)
    n+=1
else:
    print('While loop completed')
print('This is normal print')

1
2
3
4
5
6
7
8
9
10
While loop completed
This is normal print

In [49]:
# Wap to print multiplication table of a no n.

n = int(input('Enter a no you want to table:-'))
i = 1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

Enter a no you want to table:- 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [51]:
n = 15
i = 1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [71]:
# Table where last digit will be 5 and 7.

n = int(input('Enter a no you want to table:-'))
i = 1
while i<=10:
    result = n*i
    if ((result%10) == 5 or (result%10) == 7):
        print(n,'*',i,'=',n*i)
    i+=1

Enter a no you want to table:- 3

3 * 5 = 15
3 * 9 = 27

In [75]:
eve = 0
odd = 0
n = 1
while n <= 10:
    if n%2 == 0:
        eve+=1
    else:
        odd+=1
    n+=1
print('Even no = ', eve)
print('Odd no = ', odd)

Even no =  5
Odd no =  5

                                                                        #-----STRING-----#
String is a sequence of character.
String is a collection of character which are having index.

In [ ]:
# DECLRATION OF STRING

# Method 1
str1 = 'String'
# Method 2
str2 = "String"
# Method 3
str3 = '''Multiline string'''
# Method 4
str4 = """String"""
# Method 5
str5 = 'String1 \
Govind '           #-----> Single line

print(str1,str2,str3,str4,str5 , sep=' | ', end = 'Jai mata dii')

In [101]:
# ''' used for multiline comment.
'''this             
is multiline
comment'''
a = 'hello'
print(a)

hello

In [105]:
a = 'Govind Shukla'
a = a.capitalize()
print(a)

Govind shukla

In [108]:
print(a.capitalize.__doc__)

Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.

In [110]:
print(a.center.__doc__)

Return a centered string of length width.

Padding is done using the specified fill character (default is a space).

In [124]:
a = 'Ram'
print(a)
a = a.center(15) #  Space-around
print(a)
a = a.center(30 , '%') #  Space-around
print(a)
a = 'Ram'
print(a.center(30,"%"))

Ram
      Ram
%%%%%%%      Ram      %%%%%%%%
%%%%%%%%%%%%%Ram%%%%%%%%%%%%%%

In [128]:
a = 'This is a test string is my notebook my pen is good'
print(a.count.__doc__)

S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

In [130]:
a.count('my')

2

In [132]:
print(a.find.__doc__)

S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [134]:
a.find('is')

2

In [138]:
st = 'This is a test string is my notebook my pen is good'
n = 0
while(n< len(st)):
    print('Index pasition at ',n , "=" , st[n])
    n+=1

Index pasition at  0 = T
Index pasition at  1 = h
Index pasition at  2 = i
Index pasition at  3 = s
Index pasition at  4 =
Index pasition at  5 = i
Index pasition at  6 = s
Index pasition at  7 =
Index pasition at  8 = a
Index pasition at  9 =
Index pasition at  10 = t
Index pasition at  11 = e
Index pasition at  12 = s
Index pasition at  13 = t
Index pasition at  14 =
Index pasition at  15 = s
Index pasition at  16 = t
Index pasition at  17 = r
Index pasition at  18 = i
Index pasition at  19 = n
Index pasition at  20 = g
Index pasition at  21 =
Index pasition at  22 = i
Index pasition at  23 = s
Index pasition at  24 =
Index pasition at  25 = m
Index pasition at  26 = y
Index pasition at  27 =
Index pasition at  28 = n
Index pasition at  29 = o
Index pasition at  30 = t
Index pasition at  31 = e
Index pasition at  32 = b
Index pasition at  33 = o
Index pasition at  34 = o
Index pasition at  35 = k
Index pasition at  36 =
Index pasition at  37 = m
Index pasition at  38 = y
Index pasition at  39 =
Index pasition at  40 = p
Index pasition at  41 = e
Index pasition at  42 = n
Index pasition at  43 =
Index pasition at  44 = i
Index pasition at  45 = s
Index pasition at  46 =
Index pasition at  47 = g
Index pasition at  48 = o
Index pasition at  49 = o
Index pasition at  50 = d

In [148]:
a = 'This is a test string is my notebook my pen is good'
a.find('string')

15

In [152]:
a = 'This is a test string is my notebook my pen is good'
print(a.index.__doc__)

S.index(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Raises ValueError when the substring is not found.

In [158]:
a = 'This is a test string is my notebook my pen is good'
# a.index('this')
print(a.index('This'))

0