
                            #================= 01/10/2024 ===================#

 LIST

It is a collection of hetrogenius data type which has mutable and indexing.

In [6]:
a = [2,45,78,90]
print(a)
print(type(a))

[2, 45, 78, 90]
<class 'list'>

In [11]:
b = list(('Dilip','Rohan','Govind',34,28,85.2,True))  # Constructor
print(type(b))

<class 'list'>

In [7]:
b = ['Govind', 'Rohan',3,38,36.3]
print(b)

['Govind', 'Rohan', 3, 38, 36.3]

In [9]:
b = [(12,43),['Ram','Shyam'], {'a','b'},{'y':'Yellow'}]
print(b)
print(type(b))

[(12, 43), ['Ram', 'Shyam'], {'b', 'a'}, {'y': 'Yellow'}]
<class 'list'>

In [3]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
def rev(x):
    '''This function will return the reverse of input
    example >> ABC
    output >> CBA'''
    x = str(x) # Type conversion any to string
    return x[::-1]

In [3]:
print(rev.__doc__)

This function will return the reverse of input
    example >> ABC
    output >> CBA

In [5]:
rev(1234)   # Here 1234 is arrgument.

'4321'

###### LIST #######
# Declaration done before

Properties of list
1. Mutable --> can be modified after creation
2. Indexed --> We can acess the value by index
3. Hetrogenous --> Can store multiple different data types
4. Elements are seperated by ,

In [27]:
# Method 1
# by square braces
fruits = ['apple','mango', 'orange', 'pineapple', 'kiwi', 'chiku' ]
print(fruits)
print(type(fruits))

['apple', 'mango', 'orange', 'pineapple', 'kiwi', 'chiku']
<class 'list'>

In [1]:
# Method 2
# by list consturctor
# by the type conversion of other collection data type
color = list(('red', 'gree', 'pink', 'yellow', 'white', 'black', 'blue'))
        # Here we have type casted the tuple into list
print(color)
print(type(color))

['red', 'gree', 'pink', 'yellow', 'white', 'black', 'blue']
<class 'list'>

In [3]:
str = 'ABC'
x = list(str)
print(x)
print(type(x))

['A', 'B', 'C']
<class 'list'>

In [172]:
# Append :-

print(b.append.__doc__)      # append any string or anything at the end

Append object to the end of the list.

In [15]:
li = ['Govind', 'Rohan','Rujhan','Tushar']
# Add sourabh
li.append('Sourabh')
print(li)

['Govind', 'Rohan', 'Rujhan', 'Tushar', 'Sourabh']

In [11]:
list = ['Govind', 'Rohan']
list.append('Tushar','sourabh')     # Here Append method takes exactly one argument at a time.

TypeError: list.append() takes exactly one argument (2 given)

In [17]:
list = ['Govind', 'Rohan']
list.append('Tushar')

In [25]:
list.append('Sourabh')
print(list)

['Govind', 'Rohan', 'Tushar', 'Sourabh']

In [170]:
# Insert :-

list = ['Govind', 'Rohan', 'Tushar', 'Sourabh']
list.insert(1,'Lokesh')
print(list)                                      # Insert at certain index posiition

['Govind', 'Lokesh', 'Rohan', 'Tushar', 'Sourabh']

In [31]:
list = ['Govind', 'Rohan', 'Tushar', 'Sourabh']
list.insert(-1,'Lokesh')
print(list)             # -1 position se pehle hota hai

['Govind', 'Rohan', 'Tushar', 'Lokesh', 'Sourabh']

In [33]:
list = ['Govind', 'Rohan', 'Tushar', 'Sourabh']
list.insert(-3,'Arjun')
print(list)

['Govind', 'Arjun', 'Rohan', 'Tushar', 'Sourabh']

In [39]:
# Extend :-

li1 = ['Hariom','Arjun','Rujhan']
li2 = ['Batman','leo','KGF']           # Add both list in one list
li1.extend(li2)
print(li1)

['Hariom', 'Arjun', 'Rujhan', 'Batman', 'leo', 'KGF']

In [43]:
li1 = ['Hariom','Arjun','Rujhan']
li2 = ['Batman','leo','KGF']           # Add both list in one list
li2.extend(li1)
print(li2)

['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan']

In [47]:
li1 = ['Hariom','Arjun','Rujhan']
li1.insert(1,'Batman')
li1.insert(3,'Leo')
li1.insert(5,'KGF')
print(li1)

['Hariom', 'Batman', 'Arjun', 'Leo', 'Rujhan', 'KGF']

In [49]:
li2

['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan']

In [51]:
li1 = li2
print('li1',li1)
print('li2',li2)

li1 ['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan']
li2 ['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan']

In [53]:
print(id(li1))
print(id(li1))

1834170656320
1834170656320

In [55]:
li1.append('Rajkumar')

In [57]:
print('li2',li1)

li2 ['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan', 'Rajkumar']

In [25]:
# To create a copy you have to use copy method or list constructor

li2 = ['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan', 'Rajkumar']
l3 = li2.copy()
print(id(l3))
print(id(li2))

2268812310848
2268811914304

In [63]:
l3.insert(0,'Jai mata di')
print('l3',l3)
print('li2',li2)

l3 ['Jai mata di', 'Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan', 'Rajkumar']
li2 ['Batman', 'leo', 'KGF', 'Hariom', 'Arjun', 'Rujhan', 'Rajkumar']

In [7]:
# List constructor to create a new copy of list

li2 = (80,90,60,50,40)
l4 = list((li2))
print(id(l4))
print(id(li2))
l4.insert(0,'Jai Shree Mahakal')
print('l4 =',l4)
print('li2 =', li2)

2011569673728
2011569418576
l4 = ['Jai Shree Mahakal', 80, 90, 60, 50, 40]
li2 = (80, 90, 60, 50, 40)

In [168]:
# Count

l1 = ['shukla','ram','hero','red','ram','hero','dog','cat']
print(l1.count('hero'))
print(l1.count('red'))          # Count used to counting the element of string in the list

2
1

In [113]:
l2 = [1,2,2,1,2,1,2,1,2,1,1,2,2,1,1,2,2]
l_unique = []
for i in l2:
    if i not in l_unique:
        l_unique.append(i)
        print(i,l2.count(i))

1 8
2 9

In [117]:
# Index    ---> Returns the index position of the required element.

l2 = [1,2,2,1,2,1,2,1,6,2,1,1,2,2,1,1,2,2]
print(l2.index(1))
print(l2.index(6))

0
8

In [121]:
10 in l2

False

In [123]:
6 in l2

True

In [125]:
l2.index(3)

ValueError: 3 is not in list

In [147]:
# sort()  ----> 	Sorts the list according to ASCII value.

p = ['sweety','Zara','aman','Abhijeet','Babita','BAbita','komal','faltu']
p.sort()
print(p)

['Abhijeet', 'BAbita', 'Babita', 'Zara', 'aman', 'faltu', 'komal', 'sweety']

In [9]:
n = [0,3,1,5,1,4,8,4,8,4,1,9]
n.sort(reverse =  True)
print(n)                   # by default reverse false hota hai

[9, 8, 8, 5, 4, 4, 4, 3, 1, 1, 1, 0]

In [162]:
p = ['sweety','Zara','aman','Abhijeet','Babita','BAbita','komal','faltu']
p.sort(key = len)
print(p)

['Zara', 'aman', 'komal', 'faltu', 'sweety', 'Babita', 'BAbita', 'Abhijeet']

In [178]:
p = ['sweety','Zara','aman','Abhijeet','Babita','BAbita','komal','faltu']
print(id(p))
p.sort(key = len ,reverse = True)
print(p)
print(id(p))

1834180864192
['Abhijeet', 'sweety', 'Babita', 'BAbita', 'komal', 'faltu', 'Zara', 'aman']
1834180864192

In [182]:
name = ['sweety','Zara','aman','Abhijeet','Babita','BAbita','komal','faltu']
print(name)

['sweety', 'Zara', 'aman', 'Abhijeet', 'Babita', 'BAbita', 'komal', 'faltu']

In [39]:
# SORTED

name = ['sweety','Zara','aman','Abhijeet','Babita','BAbita','komal','faltu']
print('Sorted List',sorted(name))
print()
print(name)

Sorted List ['Abhijeet', 'BAbita', 'Babita', 'Zara', 'aman', 'faltu', 'komal', 'sweety']

['sweety', 'Zara', 'aman', 'Abhijeet', 'Babita', 'BAbita', 'komal', 'faltu']

In [53]:
print('Sorted List',sorted(name, key = len , reverse = True))
print()
print(name)

Sorted List ['Abhijeet', 'sweety', 'Babita', 'BAbita', 'komal', 'faltu', 'Zara', 'aman']

['sweety', 'Zara', 'aman', 'Abhijeet', 'Babita', 'BAbita', 'komal', 'faltu']

In [188]:
# REVERSE   --->> This method is used to reverse element from end position of list.

a= [2,2,6,5,9,5,9,1,5,7,8,4,5,1,8,4,8]
a.reverse()
print(a)

[8, 4, 8, 1, 5, 4, 8, 7, 5, 1, 9, 5, 9, 5, 6, 2, 2]

In [190]:
# CLEAR  --->> Clear all element of list but variable not delete.

a= [2,2,6,5,9,5,9,1,5,7,8,4,5,1,8,4,8]
a.clear()
print(a)

[]

In [196]:
# Delete any list:- It is a function which is used to clear all element of list as well as variable delete. 

a= [2,2,6,5,9,5,9,1,5,7,8,4,5,1,8,4,8]
del a
print(a)                         # a names variable not exist.

NameError: name 'a' is not defined

In [202]:
# POP --> Delete any element from list according to index.

a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.pop()    # default value is -1
print(a)

['priya', 'kajal', 'hariom', 'sidharth', 'raj', 'Arjun']

In [204]:
a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.pop(2)
print(a)

['priya', 'kajal', 'sidharth', 'raj', 'Arjun', 'Ayush']

In [208]:
a = []
a.pop()
print(a)

IndexError: pop from empty list

In [210]:
a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.pop(112)    # out of list 
print(a)

IndexError: pop index out of range

In [212]:
# REMOVE ----> It work on element remove.

a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.remove('sidharth')
print(a)

['priya', 'kajal', 'hariom', 'raj', 'Arjun', 'Ayush']

In [214]:
a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.remove('Govind')
print(a)

ValueError: list.remove(x): x not in list

In [216]:
a = ['priya','kajal','hariom','sidharth','raj','Arjun','Ayush']
a.remove('Hariom')
print(a)

ValueError: list.remove(x): x not in list

Q ) TO - DO LIST : -

In [ ]:
while True:
    print(''' Please Select appropriate Option :--
    Enter 1 for Add a task
    Enter 2 for Delete a task
    Enter 3 for To all completed Task
    Enter 4 For all remaining Task
    Enter 5 for Exit for program
    ''')                                            # ''' ''' used for multiline string.
    choice = int(input('Enter your choice : '))
    list = []
    if choice == 1:
        print('Add a task')
    elif choice == 2:
        print('Delete a task')
    elif choice == 3:
        print('Delete a task')
    elif choice == 4:
        print('Delete a task')
    elif choice == 5:
        break
    else:
        print('Enter valid choise option.')